@use "variables" as *;

@mixin flex($d: row, $jc: center, $ai: center, $w: nowrap, $gap: 0){
    display: flex;
    flex-direction: $d;
    justify-content: $jc;
    align-items: $ai;
    flex-wrap: $w;
    gap: $gap;
  }

  
