// Colors
$dark-blue: #335a8e; //nav-left-right, footer color
$light-blue: #4470a5; //h1 font color, nav bar color, side bar heading, read more button
$almost-white: #f9f9f9;
$search-bar-grey: #dddddd;
$side-bar-grey: #e8e8e8;
$white: white;


// Fonts
$heading-nav-font:'Roboto Condensed', sans-serif;
$body-font: 'Roboto', sans-serif;