@use "abstract/variables" as *;
@use "abstract/mixins" as *;

.gallery {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
    margin: 0 .5rem;
    & div {
        // margin-left: .5rem;
        // margin-right: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        position: relative;
        max-height: 240px;
        overflow: hidden;
    }
    & div img {
        width: 100%;
        height: 100%;
        z-index: 1;
        margin-top: 1.25rem;
    }
    & div h1 {
        color: $white;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background: rgba(0, 0, 0, 0.7);
        margin: 0;
        padding: .5rem;
    }
}

@media (min-width: 31.25em){
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: .5rem;
        }
        
        .gallery-1 { 
            grid-area: 1 / 1 / 2 / 3; 
            
        }
        .gallery-2 { 
            grid-area: 2 / 1 / 3 / 2; 
        }
        .gallery-3 { 
            grid-area: 2 / 2 / 3 / 3; 
        }
}



.blog {
    display: flex;
    flex-direction: column;
   
    margin-top: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    & h1 {
        font-weight: 100;
        color: $dark-blue;
        margin-bottom: 1rem;
    }
    & div {
        padding: 0 .5rem;
        background-color: $almost-white;
            .read-more-div {
                display: flex;
                flex-direction: row;
                justify-content: end;
                margin: 0;
                padding: 0;
            }
    }
}

.blog-1 {
    margin-bottom: 1rem;
}

.read-more {
    display: flex;
    flex-direction: row;
    font-weight: 900;
    background-color: $light-blue;
    color: $almost-white;
    width: 7rem;
    height: 3rem;
    padding: 0 .5rem;
    text-align: center;
    align-items: center;
}

// older posts


.older-posts-div {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: start;

    & h2 {
        @include uppercase-text;
        font-size: 2rem;
        color: $dark-blue;
    }

    & span {
        border-radius: 50%;
        background-color: $dark-blue;
        padding: .75rem ;
        width: 2rem;
        height: 2rem;
        text-align: center;
        display: inline-block;
        padding: 8px;
        margin-right: .25rem;
        color: white;
        font-size: 2rem;
        margin-bottom: .25rem;
        
      }

  
}